@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
#opensans-font{
	font-family: 'Open Sans', sans-serif;
}
#form-centering{
	position:relative;
	left:41%;
	margin-top: 2%;
}
#error-message{
	font-weight: bold;
	color: red;
}
#convertion-message{
	font-weight: bold;
}